<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="uk.ac.swansea.dascalu.dvmicc.call_logger">

    <uses-permission android:name="android.permission.READ_CALL_LOG"/>
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-permission
        android:name="uk.ac.swansea.dascalu.dvmicc.newsaggregator.permissions.READ_NEWS_A"/>

    <uses-permission
        android:name="uk.ac.swansea.dascalu.dvmicc.newsaggregator.permissions.READ_NEWS_B"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".BroadcastTheftActivity"/>

        <receiver android:name=".icc.CallsBroadcastReceiver"
            android:enabled="true">
            <intent-filter>
                <action android:name="uk.ac.swansea.dascalu.dvmicc.broadcast.NEWS_RESULT"/>
            </intent-filter>
        </receiver>
    </application>

</manifest>